body {
    font-family: arial;
}

.intro {
    background-color: grey;
}

.project1 {
    background-color: pink;
}

header {
    min-height: 400px;
    background-color: lightblue;
    font-family: 'Lora', serif;
    font-size: 2em;
}